.queue-page{
    display:flex;
    height:100vh;
    background-color:#121212;
    background-image:url(./images/music.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
input:focus::placeholder {
    color: transparent;
  }

.queue-container{
    margin: auto;
    display:flex;
    flex-direction: column;
    width:100%;
}
.title-container{
    text-align:center;
}
.form-container{
    margin-top: 20px;
    display:flex;
    flex-direction: column;

}
.information-container{  
    display:flex;
    flex-direction:column;
    margin-right:auto;
    margin-left: auto;
}
.list-container{
    padding:10px;
    background-color:black;
    width:400px;
    border-radius:20px;
    height:30vh;
    border-color: black;
    border: 1px solid black;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    overflow-y: scroll;
}
.list-container::-webkit-scrollbar-thumb{
border-radius: 10px;
  
}
.list-container::-webkit-scrollbar-track{
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 10px;
   
}
td{
    padding: 10px;
    color:white;
}

.add-button{
    margin-top: 20px;
    margin-bottom: 20px;
    width:400px;
    font-size:20px;
    border-radius: 40px;
    background-color:#1DB954;
    color: white;
    padding: 10px;
    font-weight:bold;
    border: none;
    outline:none;
    margin-left:auto;
    margin-right: auto;
}
.add-button:hover{
    color:black;
    cursor:pointer;
}
.song-text-field{
    font-size:18px;
    width:400px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color:white;
    margin-left:auto;
    
    margin-right: auto;
    background-color: transparent;
    box-sizing:boder-box;
}
input[type=text]{
    color:white;
}
::placeholder{
    color:white;
    opacity:0.6;
    
}
.random-button{
    
    width:400px;
    font-size:20px;
    border-radius: 40px;
    background-color:white;
    color: #1DB95e;
    padding: 10px;
    font-weight:bold;
    border: none;
    outline:none;
    margin-left:auto;
    margin-right: auto;
}
.random-button:hover{
    color: black;
    cursor:pointer;
}
h1{
    font-weight:bold;
    font-size:50px;
    margin-bottom:10px;
    color:white;
}
.listener-text{
    font-size:15px;
    color: white;
}
.queue-title{
    font-size:15px;
    color:#1DB95e;
}
.text-field-container{
    text-align: center;
    flex-direction: column;

    width:400px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    width:402px;
    list-style-type: none;
    position: absolute;
    border: 1px solid black;
    border-top-style: hidden;
    background-color: white;
    text-align:left;
    margin:0;
    overflow: scroll;
    overflow-x: hidden;
    height:20vh;
    padding:0;
}

ul::before{
    border:none;
}

li{
    padding: 10px 5px;
}

li:hover{
    cursor: pointer;
    background-color:lightgrey;
}
.error-label{
    color:red;
    margin-top:6px;
}
.queue-table{
    overflow: scroll;
}